<html>
<HEAD>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/blog.css')}}">
  <title>My Blog</title>
</HEAD>
<body>
<div id=bodycover> </div>
<div id=bodymain>
<div id= "head"></div>

  <div id="body">
    <div id="content">
      <div id="content1" style="border-left: 3px solid white;padding-left: 5%;">
        <form action="/blog/addtoblog" method="POST" id='post_' style="display:block">
            <br/>
            <input style="" type='text' placeholder="Title" name="title" required='required'/>
            <br/><br/>
            <textarea style="min-height:310px" name="content"></textarea>
            <br/><br/>
            <input style="" type='submit' value="POST"/>
            <br/>
        </form>
        <table id='mytable' style="width:470px;height:95%;display:none;">
          <tr>
              <td width="80%" rowspan="2" id='T_head'></td>
              <td ALIGN=RIGHT VALIGN=TOP id='T_date'></td>
          </tr>
          <tr>
              <td ALIGN=center valign=center id='T_name'></td>
          </tr>
          <tr>
              <td colspan='2' id='T_Desc' style="font-size:20px;width:470px;"></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="registeration">
      <div style="border: 1px solid #abc;height:75%;width:550px;">
        <div class="container">
          {% for key in data %}
          <table style="width:513px;height:80px;" onclick="post(this);">
            <tr>
                <td width="80%" rowspan="2" id='T_head'><h1>{{key['title']}}</h1></td>
                <td ALIGN=RIGHT VALIGN=TOP id='T_date'>{{key['date']}}</td>
            </tr>
            <tr>
                <td ALIGN=center valign=center id='T_name'>{{key['name']}}</td>
            </tr>
            <tr height='35%'>
                <td colspan='2' id='T_Desc'>{{key['content'][:70]+'.........'}}</td>
            </tr>
            <tr style="display:none;">
              <td colspan='2' id='T_Desc'>{{key['content']}}</td>
            </tr>
          </table>
        {% endfor %}
        </div>
      </div>
    </div>
  <div style="position:fixed;left:86%;">
    <button name='1' id='button_show' onclick="post(this);" style="">POST NEW</button>
  </div>
</div>
</body>
<script>
  function post(c)
  {
    if(c.name=='1')
  {
    //alert(c.style.visibility);
    z = document.getElementById('post_').style.display;
    if(z == 'block')
    {
      document.getElementById('post_').style.display='none';
      document.getElementById('mytable').style.display='block';
      c.innerHTML="POST NEW";

    }
    else {
      document.getElementById('post_').style.display='block';
      document.getElementById('mytable').style.display='none';
      c.innerHTML="HIDE";
    }
}
else {
  c = c.getElementsByTagName('tr');
  a = c[0].getElementsByTagName('td');
  b = c[1].getElementsByTagName('td');
  c = c[3].getElementsByTagName('td');
  head = a[0].innerHTML;
  date = a[1].innerHTML;
  name = b[0].innerHTML;
  desc = c[0].innerHTML;
  document.getElementById('post_').style.display='none';
  document.getElementById('mytable').style.display='block';
  document.getElementById('button_show').innerHTML="POST NEW";
  c = document.getElementById('mytable');
  c = c.getElementsByTagName('tr');
  a = c[0].getElementsByTagName('td');
  b = c[1].getElementsByTagName('td');
  c = c[2].getElementsByTagName('td');
  a[0].innerHTML = head;
  a[1].innerHTML = date;
  b[0].innerHTML = name;
  c[0].innerHTML = desc;
}
}

fetch("/static/html/menu.html")
  .then(response => {
    return response.text();
  })
  .then(data => {
    document.getElementById("head").innerHTML = data;
  });
</script>
</html>
