<html>

  <HEAD>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/home1.css')}}">
    <title>My College</title>
  </HEAD>

  <body>
    <div id=bodycover>
    </div>
    <div id=bodymain>
      <div id="head"></div>
      <div id="body">
        <div id="content">
          <div id="content1" style="border-left: 3px solid white;padding-left: 3%;">
            JMIT Radaur is one of the best engineering college in haryana having a successful track record of 100% placements.
          </div>
        </div>
        <div id="registeration">
        {%if not(data)%}
        {%include 'signINUP.html' %}
        {%else%}
        {%include 'welcomepage.html' %}
        {%endif%}
      </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    function signINUP(c) {
      document.getElementById('MidLine').style.display = 'None';
      if (c.id == 'signinhead') {
        document.getElementById('signuphead').style.display = 'None';
        document.getElementById('signin').style.display = 'block';
        document.getElementById('signinhead').style.padding = '0 0 0 0';
      } else {
        document.getElementById('signinhead').style.display = 'None';
        document.getElementById('signup').style.display = 'block';
        document.getElementById('signuphead').style.padding = '0 0 0 0';

      }
    }

    function signINUP1(c) {
      document.getElementById('signuphead').style.padding = '0% 0 0 30%';
      document.getElementById('signinhead').style.padding = '35% 0 0 30%';
      document.getElementById('MidLine').style.display = 'block';
      document.getElementById('signup').style.display = 'none';
      document.getElementById('signin').style.display = 'none';
      document.getElementById('signinhead').style.display = 'block';
      document.getElementById('signuphead').style.display = 'block';

    }
		fetch("/static/html/menu.html")
		  .then(response => {
		    return response.text();
		  })
		  .then(data => {
		    document.getElementById("head").innerHTML = data;
		  });
  </script>
</html>
