<div class="container">
  <h1 id="signinhead" style="padding: 35% 0 0 30%;" onclick="signINUP(this);">
    SIGN IN
  </h1>
  <div id="MidLine" style="border: 2px solid black;width: 100%;border-radius: 75%;"></div>
  <h1 id="signuphead" style="padding:0 0 0 30%;" onclick="signINUP(this);">
    SIGN UP
  </h1>
  <div id="signin">
    <form action="/user/getdetails" method="post">
      <label for="email">
        <b>Email</b>
      </label>
      <input type="text" placeholder="Enter Email" name="email" required="required">
      <br/>
      <br/>
      <label for="password">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="password" required="required">
      <br/>
      <br/>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Login</button>
        <button type="submit" class="loginbtn" onclick="signINUP1(this)">Back</button>
      </div>
    </form>
  </div>
  <div id="signup">
    <p>Please Fill This Form to Create Your Account.</p>
    <form action="/user/add" method="post">
      <label for="name">
        <b>Name</b>
      </label>
      <input type="text" placeholder="Enter Name" name="name" required="required">
      <br/>
      <br/>
      <label for="email">
        <b>Email</b>
      </label>
      <input type="text" placeholder="Enter Email" name="email" required="required">
      <br/>
      <br/>
      <label for="password">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="password" required="required">
      <br/>
      <br/>
      <label for="contact">
        <b>Contact</b>
      </label>
      <input type="text" placeholder="Contact Number" name="contact" required="required">
      <br/>
      <br/>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Register</button>
        <button type="submit" class="loginbtn" onclick="signINUP1(this);">Back</button>
      </div>
    </form>
  </div>
</div>
