  <div class="container">
    <h1 id="userName">
      Welcome {{data['name']}} !!
    </h1>
    <hr/>
    <div id="signnin">
      <p>Please Fill This Form to Create Your Account.</p>
      <form action="/" method="post">
        <label for="name">
          <b>Name</b>
        </label>
        <input type="text" placeholder="Enter Name" name="name" required="required">
        <br/>
        <br/>

        <label for="email">
          <b>Email</b>
        </label>
        <input type="text" placeholder="Enter Email" name="email" required="required">
        <br/>
        <br/>
        <label for="password">
          <b>Password</b>
        </label>
        <input type="password" placeholder="Enter Password" name="password" required="required">
        <br/>
        <br/>
        <label for="contact">
          <b>Contact</b>
        </label>
        <input type="text" placeholder="Contact Number" name="contact" required="required">
        <br/>
        <br/>
        <div class="clearfix">
          <button type="submit" class="signupbtn">Register</button>
          <button type="submit" class="loginbtn" onclick="signINUP1(this);">Back</button>
        </div>
      </form>
    </div>
  </div>
